* {
    box-sizing: border-box;
    margin: 0;
    padding: 10;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    background-color: #27476e;
  }

  .navbar-container NavLink {
    padding: 15px;
  }